<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
		<p><%= e %></p>
	<% end %>		
<% end %>

<body>
	<h1>Edit User</h1>
	<form action="/users/<%= @user.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	  <input type="hidden" name="_method" value="patch">
	  <p><label>First name</label></p>
	  <input type="text" name="first_name" value="<%= @user.first_name %>"><br>
	  <p><label>Last name</label></p>
	  <input type="text" name="last_name" value="<%= @user.last_name %>"><br>
	  <p><label>Email</label></p>
	  <input type="text" name="email_address" value="<%= @user.email_address %>"><br>
	  <p><label>Password</label></p>
	  <input type="password" name="password" value="<%= @user.password %>"><br>
	  <input type="submit" value="Update">
	</form>
	<a href="/users/<%= @user.id %>">Show</a> | 
	<a href="/">Back</a>
</body>